body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #474749;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0.5rem;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 2%;

}

img {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
    transition: ease-in-out 200ms;
}

img:hover {
    scale: 1.1;
}