html
    head
        style 
                include ../public/css/site.css
        title Web2
    body
        div(class="nav")
            a(href="/sql") SQL Injection
            a(href="/auth") Broken Authorization
